/* csslint ignore */
@import "mocha.css";

/* Global */
* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font Propo";
}

/* Modules */
.modules-left,
.modules-center,
.modules-right {
  font-size: 14px;
  margin-top: 2px;
  border-radius: 4px;
  background-color: @surface0;
  color: @blue;
}

.modules-center {
  padding: 2px 8px;
}

.modules-right {
  padding: 0;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

/* Workspaces */
#workspaces button {
  padding: 2px 8px;
  transition: all 0.2s cubic-bezier(.55, -0.68, .48, 1.68);
}

#workspaces button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#workspaces button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#workspaces button.active label,
#workspaces button.urgent label,
#workspaces button.visible:not(.active) label {
  color: @surface0;
}

#workspaces button.active {
  background-color: @blue;
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.visible:not(.active) {
  background-color: @flamingo;
}

#clock {
  color: @lavender;
}

.modules-right .module {
  padding: 2px 8px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
  color: @peach;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  color: @red;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @sapphire;
}

/* Power button */
#custom-power {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s;
  color: @blue;
}

#custom-power:hover {
  background: @blue;
  color: @surface0;
}

tooltip {
  border-radius: 6px;
  padding: 4px 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid @surface1;
  background-color: @base;
}

tooltip label {
  color: @text;
}